body {
    background: url("../images/4K-Train-Rail-Desktop-Wallpaper\ \(1\).jpg")
}

.jumbotron {
    background: aquamarine;   
}

h1 {
    color: black;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;  
    font-size: 70px; 
}

h3 {
    font-family: 'Indie Flower', cursive;
    font-weight: bold; 
    font-size: 30px; 
}

.card-header {
    background: beige; 
    font-size: 17px; 
}

#add-train-btn {
    background: aquamarine; 
    color: black; 
}

